<p id="notice"><%= notice %></p>

<p>
  <strong> text:</strong>
  <%= @message. text %>
</p>

<p>
  <strong>Head:</strong>
  <%= @message.head %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
