<h1>Site Statistics</h1>

<style>
#users {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#users td, #users th {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

#users tr:nth-child(even){background-color: #f2f2f2}

#users tr:hover {background-color: #ddd;}

#users th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #4CAF50;
    color: white;
}
</style>

<fieldset class="outline">
  <legend class="legendary">
    <%= pluralize @user_count, 'User' %>
  </legend>
  <div class="center admin-scrollable">
    <%= render 'users' %>
  </div>
  <div class="center">
    <%= will_paginate @users, param_name: 'user_page' %>
  </div>
</fieldset>

<br>

<fieldset class="outline">
  <legend class="legendary">
    <%= pluralize @neighborhood_count, 'Neighborhood' %>
  </legend>
  <div class="center admin-scrollable">
    <%= render 'neighborhoods' %>
  </div>
  <div class="center">
    <%= will_paginate @neighborhoods, param_name: 'neighborhood_page' %>
  </div>
</fieldset>
