<p id="notice"><%= notice %></p>

<h1>Listing Neinfos</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @neinfos.each do |neinfo| %>
      <tr>
        <td><%= link_to 'Show', neinfo %></td>
        <td><%= link_to 'Edit', edit_neinfo_path(neinfo) %></td>
        <td><%= link_to 'Destroy', neinfo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Neinfo', new_neinfo_path %>
