<!-- Template by html.am -->

<body>

<main class="column" id="center">
  <article>

    <% if @user == current_user %>
    <h1>My Profile</h1>
  <% else %>
    <h1><%= @user.name %>'s Profile</h1>
    <% end %>

  </article>
</main>
<div id="center-contents-block">
  <div id="sidebar">
    <aside>
      <% if @user == current_user %>
      <h3>Hello
        <%= @user.name %>!!</h3>
    <% else %>
      <h3><%= @user.name %></h3>
      <p class="center">
        <span class="label <%= tag_color @user %> label-xs"><%= @user.username %></span>
      </p>
    <% end %>
    <br>

      <div class="center">
        <% if @user.image_url.present? %>
          <%= image_tag @user.image_url, width: '200', height: '200', class: 'img-circle', id: 'center', alt: 'profile' %>
        <% else %>
          <img alt="profile" class="img-circle" id="center" src="<%= asset_path("profile.png") %>">
        <% end %>
        <p></p>
        <%= link_to 'Send Message', 'javascript: send_to("' + @user.username.to_s + '")', class: 'btn btn-primary btn-xs btn-block white-text' %>
        <p></p>
        <% if @user == current_user %>
        <a class="btn btn-xs btn-primary btn-block" data-toggle="modal" href="#edit2">
          <span class="glyphicon glyphicon-pencil"></span>
          Change Password
        </a>

        <% end %>
      </div>
    </aside>

    <aside>

      <% if @user == current_user %>
        <br>
        <%= button_to "Cancel account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger btn-xs btn-block" %>
        <% end %>

      </p>
    </aside>
    <aside>
      <div class="bs-example" id="center">
        <!-- Button HTML (to Trigger Modal) -->
        <div class="modal fade" id="edit0" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button aria-hidden="true" class="close" data-dismiss="modal" type="button">&times;</button>
                <h4 class="modal-title">Edit Profile</h4>
              </div>
              <%= form_for @user, :html => {:multipart => true} do |f| %>
              <div class="modal-body">

                <div class="field">
                  <%= f.label :name %>
                  <%= f.text_field :name, required: true, autofocus: true, value: @user.name, class: 'form-control' %>
                </div>
                <div class="field">
                  <%= f.label :username %>
                  <%= f.text_field :username, required: true, value: @user.username, class: 'form-control' %>
                </div>
                <div class="field">
                  <%= f.label :Bio %>
                  <%= f.text_field :description, value: @user.description, class: 'form-control' %>
                </div>
                <div class="field">
                  <%= f.label :profile_picture %>
                  <%= f.file_field :image_url %>
                </div>
              </div>
              <div class="modal-footer">
                <%= f.submit "Save", class: "btn btn-primary" %>
                <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
              </div>
              <% end %>
            </div>

          </div>
        </div>

        <div class="modal fade" id="edit1" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button aria-hidden="true" class="close" data-dismiss="modal" type="button">&times;</button>
                <h4 class="modal-title">Edit Profile</h4>
              </div>
              <%= form_for(@user) do |f| %>
              <div class="modal-body">
                <div class="field">
                  <%= f.label :phone_number %>
                  <%= f.text_field :phone_number, value: @user.phone_number, placeholder: 'Enter in the following format: XXX-XXX-XXXX',  required: true, class: 'form-control' %>
                </div>
                <div class="field">
                  <%= f.label :email %>
                  <%= f.text_field :email, required: true, value: @user.email, class: 'form-control' %>
                </div>
              </div>
              <div class="modal-footer">
                <%= f.submit "Save", class: "btn btn-primary" %>
                <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
              </div>
              <% end %>
            </div>

          </div>
        </div>

        <div class="modal fade" id="edit2" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button aria-hidden="true" class="close" data-dismiss="modal" type="button">&times;</button>
                <h4 class="modal-title">Change Password</h4>
              </div>
              <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
              <div class="modal-body">
                <%= f.error_notification %>
                <div class="form-inputs">

                  <%= f.input :current_password, placeholder: 'Current Password', required: true, input_html: { class: 'form-control'}  %>
                  <%= f.input :password, placeholder: 'Enter A New Password', required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), input_html: { class: 'form-control'} %>
                  <%= f.input :password_confirmation, placeholder: 'Confirm', required: true, input_html: { class: 'form-control'} %>
                </div>
              </div>
              <div class="modal-footer">
                <%= f.submit "Save", class: "btn btn-primary" %>
                <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
              </div>
              <% end %>
            </div>

          </div>
        </div>
      </div>
    </div>
  </aside>
</div>

<div id="main-contents">
  <p></p>
  <div class="panel profile-nav-tabs panel-success">
    <div class="panel-heading">
      <ul class="nav nav-tabs">
        <li class="active">
          <a data-toggle="tab" href="#tab1">About</a>
        </li>
        <li>
          <a data-toggle="tab" href="#tab2">Contact</a>
        </li>
        <li>
          <a data-toggle="tab" href="#tab3">Neighborhoods</a>
        </li>
        <li>
          <a data-toggle="tab" href="#tab4">Posts</a>
        </li>
      </ul>
    </div>

    <div class="panel-body">
      <div class="tab-content">
        <div class="tab-pane fade in active" id="tab1">
          <% if @user == current_user %>
          <a class="btn btn-xs btn-primary pull-right" data-toggle="modal" href="#edit0">
            <span class="glyphicon glyphicon-pencil"></span>
            Edit
          </a>
          <% end %>
          <h2 class="text-left">
            <span class="glyphicon glyphicon-user"></span>
            About</h2>
          <div>Name:
            <%= @user.name %></div>
          <p></p>
          <div>Username:
            <%= @user.username %></div>
          <p></p>
          <div>Bio:
            <%= @user.description %></div>
        </div>

        <div class="tab-pane fade post-scrollable" id="tab2">
          <% if @user == current_user %>
          <a class="btn btn-xs btn-primary pull-right" data-toggle="modal" href="#edit1">
            <span class="glyphicon glyphicon-pencil"></span>
            Edit
          </a>
          <% end %>
          <h2 class="text-left">
            <span class="glyphicon glyphicon-phone-alt"></span>
            Contact</h2>
          <div>
            <span class="glyphicon glyphicon-envelope"></span>:
            <%= @user.email %></div>
          <p></p>
          <div>
            <span class="glyphicon glyphicon-phone"></span>:
            <%= @user.phone_number %></div>
        </div>

        <div class="tab-pane fade scrollable" id="tab3">
          <h2 class="text-left">
            <span class="glyphicon glyphicon-home"></span>
            Neighborhoods</h2>
          <% @user.neighborhoods.each do |neighborhood| %>
        <li class="click-row pointer" onclick="goto('<%= neighborhood_path(neighborhood) %>');"><%= neighborhood.name %></li>
        <% end %>
      </div>

      <div class="tab-pane fade post-scrollable" id="tab4">
        <h2 class="text-left">
          <span class="glyphicon glyphicon-list-alt"></span>
          Posts</h2>
        <% @user.posts.each do |post| %>
        <%= render post %>
        <% end %>
      </div>
    </div>
  </div>
</div>
</body>
