<h1></h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
        <th>Date</th>
        <th>Location</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
  
    <tbody>
      <% @events.each do |event| %>
        <tr>
          <th><%= event.id %></th>
          <th><%= event.name %></th>
          <th><%= event.description %></th>
          <th><%= event.date %></th>
          <th><%= event.location %></th>
          <th class="dropdown"><button type="button" class="btn btn-sm btn-primary actionButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></button></th>
          <th><%= button_to 'Show', event, :method => "get" %></th>
          <th><%= button_to 'Edit', edit_event_path(event), :method => "get" %></th>
          <th><%= button_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></th>
        </tr>
      <% end %>
    </tbody>
  </table>
  <ul id="contextMenu" class="dropdown-menu" role="menu">
    <li><a tabindex="-1" href="#" class="edit_event_path">Show</a></li>
    <li><a tabindex="-1" href="#" class="edit">Edit</a></li>
    <li><a tabindex="-1" href="#" class="destory">Delete</a></li>
  </ul>