<p id="notice"><%= notice %></p>

<div class="container">
  <h1></h1>
  
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
        <th>Date</th>
        <th>Location</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
  
    <tbody>
      <% @events.each do |event| %>
        <tr>
          <th><%= event.id %></th>
          <th><%= event.name %></th>
          <th><%= event.description %></th>
          <th><%= event.date %></th>
          <th><%= event.location %></th>
          <th><%= button_to 'Show', event, :method => "get" %></th>
          <th><%= button_to 'Edit', edit_event_path(event), :method => "get" %></th>
          <th><%= button_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></th>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

</body>
</html>

<br>

<%= button_to 'New Event', new_event_path, :method => "get" %>
