<p id="notice"><%= notice %></p>
<style>

  body {
    background-image: url("http://static.trulia-cdn.com/images/guide/guide/horizontal/home_equity_loans_the_types_pros_and_cons.jpg");
    background-attachment: fixed;
    background-size: cover;
    /*background: url('http://cdn01.wallconvert.com/_media/wallpapers_2560x1600/1/2/gradient-16415.jpg');*/
  }

  .footer {
    display: none;
  }

  .event-jumbotron{
    margin-top: 10%;
    margin-left: 15%;
    margin-right: 15%;
  }

</style>
<div>
   <%= form_for(@event) do |f| %>
      <% if @event.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>
          <ul>
            <% @event.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div id="edit" class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">Edit Event</h4>
            </div>
            <div class="modal-body">
              <p><large>Please fill out the information below</large></p>
              <div class="field">
              <%= f.label :name %><br>
              <%= f.text_field :name, class: 'form-control' %>
            </div>

            <div class="field">
              <%= f.label :description %><br>
              <%= f.text_field :description, class: 'form-control', rows: 5  %>
            </div>

            <div class="field">
              <%= f.label :start_time %><br>
              <%= f.datetime_select :start_time, class: 'form-control' %>
            </div>

            <div class="field">
              <%= f.label :location %><br>
              <%= f.text_field :location, class: 'form-control' %>
            </div>
            </div>


            <div class="modal-footer">
              <%= f.submit "Save", class: "btn btn-primary" %>
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
    <% end %>
</div>

<div class="jumbotron event-jumbotron center">
  <div class="center">
    <h1 class=""><%= @event.name %></h1>
  </div>

  <hr class="under-title">

  <div class="panel with-nav-tabs panel-success">
    <div class="panel-heading">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#tab1" data-toggle="tab">Description</a></li>
        <li><a href="#tab2" data-toggle="tab">Time</a></li>
        <li><a href="#tab3" data-toggle="tab">Location</a></li>
      </ul>
    </div>
    <div class="panel-body">
      <div class="tab-content">
        <div class="tab-pane fade in active" id="tab1">
          <%= @event.description %>
        </div>
        <div class="tab-pane fade scrollable" id="tab2">
          <%= @event.start_time %>
        </div>
        <div class="tab-pane fade scrollable" id="tab3">
          <%= @event.location %>
        </div>

      </div>
    </div>

  </div>
  <hr class="under-description">

  <div class="buttons">
    <%= link_to 'Edit Event', '#edit', data: { toggle: "modal", target: '#edit' }, class: "btn btn-md btn-primary" %>
  </div>
  <div class="buttons">
    <%= link_to 'Back', events_path, class: 'btn btn-md btn-primary white-text' %>
  </div>
</div>
