<div class="post center">
  <div class="well">
    <div class="media foot-parent">
      <div class="pull-left">
        <a href="#">
          <img class="media-object" src="http://placekitten.com/150/150">
        </a>
        <p><%= post.user.name %> <span class="label <%=
          if isNewser(post.user)
            'label-primary'
          else
            'label-success'
          end
          %>">
            <%= post.user.username %>
          </span>
         </p>
        <% if is_lead(current_user, current_user.current_neighborhood) %>
          <p><a href="#change-category-modal-<%= post.id %>" data-toggle="modal"><%= '<' + post.category.name + '>' unless post.category.nil? %></a></p>
        <% else %>
          <p><%= '<' + post.category.name + '>' unless post.category.nil? %></p>
        <% end %>
        <br>
        <br>
      </div>
      <div class="media-body">
        <h4 class="media-heading">
          <%= post.title %>
          <% if canDeletePost(current_user, post) %>
            <%= link_to post, method: :delete, class: 'pull-right' do %>
              <span class="glyphicon glyphicon-remove"></span>
            <% end %>
          <% end %>
        </h4>
        <hr>
        <p><%= post.body %></p>
      </div>
      <ul class="list-inline list-unstyled bottom-right">
        <li>
          <%= link_to upvote_post_path(post), remote: true, method: :post do %>
          <span class="glyphicon glyphicon-thumbs-up"></span>
          <% end %>
        </li>
        <li>
          <span id='score-<%= post.id %>'>
            <%= post.score %>
          </span>
        </li>
        <li>
          <%= link_to downvote_post_path(post), remote: true, method: :post do %>
          <span class="glyphicon glyphicon-thumbs-down"></span>
          <% end %>
        </li>
        <li>|</li>
        <li>
          <a onclick='toggle_comments(<%= post.id %>)' class="pointer">
          <i class="glyphicon glyphicon-comment"></i>
          <span id="comments-count-<%= post.id %>"><%= comments_button(post) %></span>
          </a>
        </li>
        <li>|</li>
        <li>
          <span>
            <i class="glyphicon glyphicon-calendar"></i>
            <%= I18n.localize post.created_at, format: :post %>
          </span>
        </li>
      </ul>
    </div>
    <div id="comments-section-<%= post.id %>" hidden="true">
      <div id="comments-<%= post.id %>">
        <% post.comments.each do |comment| %>
          <%= render comment %>
        <% end %>
      </div>
      <%= render partial: 'comments/form', :locals => { :post => post } %>
    </div>
  </div>
</div>

<div id="change-category-modal-<%= post.id %>" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Change Category</h4>
      </div>
      <%= form_tag update_category_post_path(post), method: :post do %>
        <div class="modal-body">
          <div class="field">
            <label for="category">
              Category
            </label>
            <select name="post[category_id]" class="form-control">
              <% current_user.current_neighborhood.categories.each do |category| %>
                <option value="<%= category.id %>"><%= category.name %></option>
              <% end %>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <%= submit_tag "Change Category", class: "btn btn-md btn-primary" %>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      <% end %>
    </div>
  </div>
</div>
