<p id="notice"><%= notice %></p>

<h1>Here's What's New</h1>

<div>
  <% @posts.each do |post| %>
    <div style="border: 2px solid grey; border-radius: 5px; width: 30%;">
      <h3><%= post.title %></h3>
      <p><%= post.body %></p>
      <table>
        <tr>
          <td><%= button_to 'Edit', edit_post_path(post), method: :get %></td>
          <td><%= button_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      </table>
    </div>
  <% end %>
</div>

<br>

<%= link_to 'New Post', new_post_path %>
