<table class="table table-striped">
  <thead>
    <tr>
      <th>
        Request Type
      </th>
      <th>
        User
      </th>
      <th>
        Date
      </th>
      <th>

      </th>
      <th>

      </th>
    </tr>
  </thead>
  <tbody>
    <% @neighborhood.requests.order(:created_at).each do |request| %>
      <tr>
        <td>
          <%= request.request_type %>
          <div class="buttons">
            <% if request.request_type == 'event' %>
              <%= button_to request.event, method: :get, class: "btn label label-primary" do %>
                view
              <% end %>
            <% else %>
              <%= button_to request.user, method: :get, class: "btn label " + tag_color(request.user) do %>
                view
              <% end %>
            <% end %>
          </div>
        </td>
        <td>
          <%= request.user.name %>
          <div class="buttons">
            <%= button_to request.user, method: :get, class: "btn label " + tag_color(request.user) do %>
              <%= request.user.username %>
            <% end %>
          </div>
        </td>
        <td>
          <%= I18n.l request.created_at, format: :short %>
        </td>
        <td>
          <%= button_to 'Approve', approve_request_path(request), class: 'btn btn-xs btn-success pull-right' %>
        </td>
        <td>
          <%= button_to 'Deny', request, method: :delete, class: 'btn btn-xs btn-danger pull-left' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
