<table class="table table-striped">
  <thead>
    <tr>
      <th>
        Request Type
      </th>
      <th>
        User
      </th>
      <th>
        Date
      </th>
      <th>

      </th>
    </tr>
  </thead>
  <tbody>
    <% @neighborhood.requests.order(:created_at).each do |request| %>
      <tr>
        <td>
          <%= request.request_type %>
        </td>
        <td>
          <%= request.user.name %>
          <span class="label label-success">
            <%= request.user.username %>
          </span>
        </td>
        <td>
          <%= I18n.l request.created_at, format: :short %>
        </td>
        <td>
          <%= button_to 'Approve', approve_request_path(request), class: 'btn btn-xs btn-success left-button' %>
          <%= button_to 'Deny', request, method: :delete, class: 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
