<table class="table">
  <thead>
    <tr>
      <th>
        User
      </th>
      <th>
        Email
      </th>
      <% if is_lead(current_user, @neighborhood) %>
      <th>

      </th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @neighborhood.users.order(:name).each do |user| %>
      <tr class="<%= 'lead-row' if is_lead(user, @neighborhood) %>">
        <td>
          <%= user.name %>
          <div class="username-btn">
            <%= button_to user, method: :get, class: "btn label " + tag_color(user) do %>
              <%= user.username %>
            <% end %>
          </div>
        </td>
        <td>
          <%= user.email %>
        </td>
        <% if is_lead(current_user, @neighborhood) %>
        <td>
          <%= button_to 'Remove', remove_user_path(@neighborhood.id, user.id), class: 'btn btn-xs btn-danger left-button' %>
        </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<p class="explanation">
  *Leads for the neighborhood appear with <span class="lead-row">bold</span> text. Regular users have <span class="label label-success">green</span> username tags. Newsers have <span class="label label-primary">blue</span> username tags
</p>
