<table class="table">
  <thead>
    <tr>
      <th>
        User
      </th>
      <th>
        Email
      </th>
      <th>

      </th>
    </tr>
  </thead>
  <tbody>
    <% @neighborhood.users.order(:name).each do |user| %>
      <tr class="<%= 'lead-row' if is_lead(user, @neighborhood) %>">
        <td>
          <%= user.name %>
          <span class="label
            <%=
              if isNewser(user)
                'label-primary'
              else
                'label-success'
              end
            %>">
            <%= user.username %>
          </span>
        </td>
        <td>
          <%= user.email %>
        </td>
        <td>
          <%= button_to 'Remove', remove_user_path(@neighborhood.id, user.id), class: 'btn btn-xs btn-danger left-button' %>
          <% # button_to 'Deny', request, method: :delete, class: 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
