<style>
body{
  <% if @neighborhood.image_url.present? %>
    background-image: url('<%= @neighborhood.image_url %>');
  <% else %>
    background-image: url("http://static.trulia-cdn.com/images/guide/guide/horizontal/home_equity_loans_the_types_pros_and_cons.jpg");
  <% end %>
  background-attachment: fixed;
  background-size: cover;
}

.footer {
  display: none;
}
</style>
<div class="center content well">
  <div class="center">
      <p class="neighborhood-title"><%= @neighborhood.name %></p>
      <p>
        <%= @neighborhood.location %>
      </p>
    </table>
  </div>
  <hr class="under-title">

  <div class="panel with-nav-tabs panel-success">
    <div class="panel-heading">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#tab1" data-toggle="tab">Description</a></li>
        <li><a href="#tab2" data-toggle="tab">Users</a></li>
        <li><a href="#tab3" data-toggle="tab">Categories</a></li>
        <% if is_lead(current_user, @neighborhood) %>
          <li><a href="#tab4" data-toggle="tab">Requests</a></li>
        <% end %>
      </ul>
    </div>
    <div class="panel-body">
      <div class="tab-content">
        <div class="tab-pane fade in active" id="tab1">
          <%= @neighborhood.description %>
        </div>
        <div class="tab-pane fade scrollable" id="tab2">
          <%= render 'users' %>
        </div>
        <div class="tab-pane fade" id="tab3">
          <div class="scrollable">
            <%= render 'categories' %>
          </div>
          <% if is_lead(current_user, @neighborhood) %>
            <%= link_to 'New', '#new-category-modal', data: { toggle: 'modal' }, class: 'btn btn-success btn-lg pull-right' %>
          <% end %>
        </div>
        <% if is_lead(current_user, @neighborhood) %>
          <div class="tab-pane fade" id="tab4">
            <%= render 'requests' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <hr class="under-description">

  <p>
    <% unless user_in_neighborhood(current_user, @neighborhood) %>
      <% unless user_pending(current_user) %>
        <div class="buttons">
          <%= button_to 'Join', request_to_join_neighborhood_path(@neighborhood), class: 'btn btn-lg btn-success' %>
        </div>
      <% end %>
    <% else %>
      <div class="buttons">
        <%= button_to 'Leave', leave_neighborhood_path(@neighborhood), class: 'btn btn-lg btn-danger', data: { confirm: 'are you sure you want to leave?' } %>
      </div>
      <% unless isNewser(current_user) %>
        <div class="buttons">
          <%= button_to 'New Sub-Neighborhood', inherit_neighborhood_path(@neighborhood), class: 'btn btn-lg btn-success', method: :get %>
        </div>
      <% end %>
      <% if is_lead(current_user, @neighborhood) %>
        <div class="buttons">
          <%= button_to 'Edit', edit_neighborhood_path(@neighborhood), class: 'btn btn-lg btn-default', method: :get %>
        </div>
      <% end %>
    <% end %>
    <div class="buttons">
      <%= button_to 'Back', neighborhoods_path, class: 'btn btn-lg btn-default', method: :get %>
    </div>
  </p>
</div>

<%= form_tag create_category_path(@neighborhood), method: :post do %>
  <div id="new-category-modal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">New Category</h4>
        </div>
        <div class="modal-body">
          <div class="field">
            <%= label_tag :name %>
            <br>
            <%= text_field_tag :name, '', class: 'form-control' %>
          </div>

          <div class="field">
            <%= label_tag :description %>
            <br>
            <%= text_field_tag :description, '', class: 'form-control', rows: 5  %>
          </div>
        </div>
        <div class="modal-footer">
          <%= submit_tag "Create Category", class: "btn btn-md btn-primary" %>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<% end %>
