<style>
body{
  background-image: url("http://static.trulia-cdn.com/images/guide/guide/horizontal/home_equity_loans_the_types_pros_and_cons.jpg");
  background-attachment: fixed;
  background-size: cover;
}
</style>
<div class="center content well">
  <div class="center">
      <p class="neighborhood-title"><%= @neighborhood.name %></p>
      <p>
        <%= @neighborhood.location %>
      </p>
    </table>
  </div>
  <hr class="under-title">

  <div class="panel with-nav-tabs panel-success">
    <div class="panel-heading">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#tab1" data-toggle="tab">Description</a></li>
        <li><a href="#tab2" data-toggle="tab">Users</a></li>
        <li><a href="#tab3" data-toggle="tab">Categories</a></li>
        <% if is_lead(current_user, @neighborhood) %>
          <li><a href="#tab4" data-toggle="tab">Requests</a></li>
        <% end %>
      </ul>
    </div>
    <div class="panel-body">
      <div class="tab-content">
        <div class="tab-pane fade in active" id="tab1">
          <%= @neighborhood.description %>
        </div>
        <div class="tab-pane fade scrollable" id="tab2">
          <%= render 'users' %>
        </div>
        <div class="tab-pane fade scrollable" id="tab3">
          <%= render 'categories' %>
        </div>
        <% if is_lead(current_user, @neighborhood) %>
          <div class="tab-pane fade" id="tab4">
            <%= render 'requests' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <hr class="under-description">

  <p>
    <% unless user_in_neighborhood(current_user, @neighborhood) %>
      <div class="buttons">
        <%= button_to 'Join', join_neighborhood_path(@neighborhood), class: 'btn btn-lg btn-success' %>
      </div>
    <% else %>
      <% if current_user.current_neighborhood != @neighborhood %>
        <div class="buttons">
          <%= button_to 'Visit', set_active_neighborhood_path(@neighborhood), class: 'btn btn-lg btn-success' %>
        </div>
      <% end %>
    <% end %>
    <% if is_lead(current_user, @neighborhood) %>
      <div class="buttons">
        <%= button_to 'Edit', edit_neighborhood_path(@neighborhood), class: 'btn btn-lg btn-default', method: :get %>
      </div>
    <% end %>
    <div class="buttons">
      <%= button_to 'Back', neighborhoods_path, class: 'btn btn-lg btn-default', method: :get %>
    </div>
  </p>
</div>
