<style>
body{
  background-image: url("http://static.trulia-cdn.com/images/guide/guide/horizontal/home_equity_loans_the_types_pros_and_cons.jpg");
  background-attachment: fixed;
  background-size: cover;
}
</style>
<div class="center content well">
  <div class="center">
      <p class="neighborhood-title"><%= @neighborhood.name %></p>
      <p>
        <%= @neighborhood.location %>
      </p>
    </table>
  </div>
  <hr class="under-title">

  <div class="panel with-nav-tabs panel-success">
    <div class="panel-heading">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#tab1" data-toggle="tab">One</a></li>
        <li><a href="#tab2" data-toggle="tab">two</a></li>
        <li><a href="#tab3" data-toggle="tab">three</a></li>
      </ul>
    </div>
    <div class="panel-body">
      <div class="tab-content">
        <div class="tab-pane fade in active" id="tab1">
          ONE
        </div>
        <div class="tab-pane fade" id="tab2">
          TWO
        </div>
        <div class="tab-pane fade" id="tab3">
          THREE
        </div>
      </div>
    </div>
  </div>
  <p>
    <%= @neighborhood.description %>
  </p>

  <hr class="under-description">

  <p>
    <div class="buttons">
      <%= button_to 'Join', join_neighborhood_path(@neighborhood), class: 'btn btn-lg btn-success' %>
    </div>
    <div class="buttons">
      <%= button_to 'Visit', set_active_neighborhood_path(@neighborhood), class: 'btn btn-lg btn-success' %>
    </div>
  </p>
  <div class="clearfix"></div>

  <div class="pull-right">
    <%= link_to 'Edit', edit_neighborhood_path(@neighborhood) %> |
    <%= link_to 'Back', neighborhoods_path %>
  </div>
</div>
