<!DOCTYPE html>
<html>
<head>
  <title>LiveTogether</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% flash.each do |key, value| %>
   <%= content_tag(:div, value, class: "alert alert-#{key}") %>
 <% end %>

  <header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <nav>
        <% if user_signed_in? %>
      <%= link_to current_user.email, main_app.edit_user_registration_path %>
      | <%= link_to "Sign out", main_app.destroy_user_session_path, :method => :delete %>
      <% if current_user.forem_admin %>
        | <%= link_to "Administrate", forem.admin_root_url %>
      <% end %>
    <% else %>
      <%= link_to "Sign up", main_app.new_user_registration_path %>
      | <%= link_to "Sign in", main_app.new_user_session_path %>
    <% end %>
        <li><%= link_to "Site logo", '#', id: "logo" %></li>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Home", '/' %></li>
          <li><%= link_to "About us", '#' %></li>
          <li><%= link_to 'Forums', forem.forums_path %></li>
        </ul>
      </nav>
    </div>
  </header>
<div class="container">


<%= yield %>

<footer class="footer">
 <small>
 A website made with love by: Ben,Alex,Jamal</a>
 </small>
 <nav>
 <ul>
 <li><a href="http://www.facebook.com">Facebook</a></li>
 <li><a href="http://www.twitter.com">Twitter</a></li>
 <li><a href="http://www.valdosta.edu">Our School</a></li>
 </ul>
 </nav>
</footer>

</body>
</html>
