<!DOCTYPE html>
<html>
  <head>
    <title>LiveTogether</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">

      <nav>
        <div class="navbar-header">
          <%= link_to "LiveTogether", root_path, class: ["navbar-brand"] %>
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse-nav">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <ul class="nav navbar-nav navbar-right navbar-collapse collapse" id="collapse-nav">
          <% if user_signed_in? %>
            <li>
              <%= link_to posts_path do %>
                <span class="glyphicon glyphicon-home"></span>
                Home
              <% end %>
            </li>
            <li>
              <%= link_to messages_path do %>
                <span class="glyphicon glyphicon-envelope"></span>
                Messages
              <% end %>
            </li>
            <li>
              <%= link_to neighborhoods_path do %>
                <span class="glyphicon glyphicon-tree-conifer"></span>
                Neighborhood
              <% end %>
            </li>
            <li>
              <%= link_to events_path do %>
                <span class="glyphicon glyphicon-calendar"></span>
                Events
              <% end %>
            </li>
            <li>
              <%= link_to current_user do %>
                <span class="glyphicon glyphicon-user"></span>
                <%= current_user.email[/.*(?=@)/] %>
              <% end %>
            </li>
            <li class="navbar-text">&#124;</li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <span class="glyphicon glyphicon-log-out"></span>
                Log out
              <% end %>
            </li>
          <% else %>
            <li>
              <%= link_to new_user_session_path do %>
                <span class="glyphicon glyphicon-log-in"></span>
                Log in
              <% end %>
            </li>
            <li>
              <%= link_to new_user_registration_path do %>
                <span class="glyphicon glyphicon-user"></span>
                Sign up
              <% end %>
            </li>
          <% end %>
        </ul>
      </nav>
    </div>
  </header>
<div class="container">

      <%= yield %>

      <footer class="footer">
        <small>
          A website made with love by: Ben, Alex, Jamal
        </small>
        <nav>
          <ul>
            <li>
              <a href="http://www.facebook.com">Facebook</a>
            </li>
            <li>
              <a href="http://www.twitter.com">Twitter</a>
            </li>
            <li>
              <a href="http://www.valdosta.edu">Our School</a>
            </li>
            <li><%= link_to "About us", '#' %></li>
          </ul>
        </nav>
      </footer>
    </div>
  </body>
</html>
