<!DOCTYPE html>
<html>
  <head>
    <title>LiveTogether</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <%= link_to "LiveTogether", root_path, class: ["navbar-brand"] %>
          <button class="navbar-toggle" data-target="#collapse-nav" data-toggle="collapse" type="button">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <nav>
          <ul class="nav navbar-nav navbar-right navbar-collapse collapse" id="collapse-nav">
            <% if user_signed_in? %>
            <% if current_user.user_type == 'admin' %>
              <li>
                <%= link_to admin_path do %>
                <span class="glyphicon glyphicon-stats"></span>
                Site Stats
                <% end %>
              </li>
            <% end %>
            <% unless current_user.current_neighborhood.nil? %>
              <li>
                <%= link_to posts_path do %>
                <span class="glyphicon glyphicon-tasks"></span>
                Posts
                <% end %>
              </li>
              <li>
                <%= link_to events_path do %>
                <span class="glyphicon glyphicon-calendar"></span>
                Events
                <% end %>
              </li>
            <% end %>
            <% if current_user.neighborhoods.count > 0 %>
              <li class="dropdown">
                <a href="#" data-toggle="dropdown">
                  <span class="glyphicon glyphicon-home"></span>
                  <% if current_user.current_neighborhood.nil? %>
                    Neighborhoods
                  <% else %>
                    <%= current_user.current_neighborhood.name %>
                  <% end %>
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <% unless current_user.current_neighborhood.nil? %>
                    <li><a href="<%= neighborhood_path(current_user.current_neighborhood) %>">Neighborhood Info</a></li>
                    <li role="separator" class="divider"></li>
                  <% end %>
                  <li><a href="<%= neighborhoods_path %>">View All Neighborhoods</a></li>
                  <% if current_user.neighborhoods.count > 1 %>
                    <li role="separator" class="divider"></li>
                    <% current_user.neighborhoods.each do |neighborhood| %>
                      <% if neighborhood != current_user.current_neighborhood %>
                        <li>
                          <a class="<% 'lead-nhood' if is_lead(current_user, neighborhood) %>" href="<%= visit_path(neighborhood) %>"><%= neighborhood.name %></a>
                        </li>
                      <% end %>
                    <% end %>
                  <% end %>
                </ul>
              </li>
            <% else %>
              <li>
                <%= link_to neighborhoods_path do %>
                <span class="glyphicon glyphicon-home"></span>
                Neighborhoods
                <% end %>
              </li>
            <% end %>
            <li class="navbar-text">&#124;</li>
            <li class="dropdown">
              <a href="#" data-toggle="dropdown">
                <span class="glyphicon glyphicon-envelope"></span>
                Messages
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a href="<%= messages_path %>">All Messages</a></li>
                <li role="separator" class="divider"></li>
                <li>
                  <%= link_to 'New Message Group', '#new-group-modal', 'data-toggle' => 'modal' %>
                </li>
                <% if current_user.groups.count > 0 %>
                  <li role="separator" class="divider"></li>
                  <% current_user.groups.each do |group| %>
                    <li>
                      <a href="<%= group_path(group) %>"><%= group.name %></a>
                    </li>
                  <% end %>
                <% end %>
              </ul>
            </li>
            <li>
              <%= link_to current_user do %>
              <span class="glyphicon glyphicon-user"></span>
              <%= current_user.name %>
              <% end %>
            </li>
            <li class="navbar-text">&#124;</li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
              <span class="glyphicon glyphicon-log-out"></span>
              Log out
              <% end %>
            </li>
          <% else %>
            <li>
              <%= link_to '#sign-up-modal', 'data-toggle' => 'modal' do %>
              <span class="glyphicon glyphicon-log-in"></span>
              Sign up
              <% end %>
            </li>
            <li>
              <%= link_to '#log-in-modal', 'data-toggle' => 'modal' do %>
              <span class="glyphicon glyphicon-user"></span>
              Log in
              <% end %>
            </li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">

      <%= yield %>

      <footer class="footer">
        <small>
          A website made with love by: Ben, Alex, Jamal
        </small>
        <nav>
          <ul>
            <li>
              <a href="https://www.facebook.com/LiveTogether1234">Facebook</a>
            </li>
            <li>
              <a href="http://www.twitter.com/livetogether124">Twitter</a>
            </li>
            <li>
              <a href="http://www.valdosta.edu">Our School</a>
            </li>
          </ul>
        </nav>
      </footer>
    </div>

    <div class="modal fade" id="log-in-modal" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content -->
        <div class="modal-content">
          <div class="modal-header">
            <button class="close" data-dismiss="modal" type="button">&times;</button>
            <h4 class="modal-title">Log in</h4>
          </div>
          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="modal-body">
            <div class="form-inputs">
              <%= f.input :login, required: true, autofocus: true, input_html: { class: 'form-control'} %>
              <%= f.input :password, required: true, input_html: { class: 'form-control'} %>
              <%= f.input :remember_me, wrapper_html: { class: 'pad-left' }, as: :boolean if devise_mapping.rememberable? %>
            </div>
          </div>

          <div class="modal-footer">
            <%= f.button :submit, "log in", class: 'btn btn-lg btn-primary' %>
            <button class="btn btn-lg btn-default" data-dismiss="modal" type="button">Close</button>
          </div>
          <% end %>
        </div>

      </div>
    </div>

    <div class="modal fade" id="sign-up-modal" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content -->
        <div class="modal-content">
          <div class="modal-header">
            <button class="close" data-dismiss="modal" type="button">&times;</button>
            <h4 class="modal-title">Sign Up</h4>
          </div>
          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <div class="modal-body">
            <%= f.error_notification %>

            <div class="form-inputs">
              <%= f.input :name, required: true, autofocus: true, input_html: { class: 'form-control'} %>
              <%= f.input :username, required: true, input_html: { class: 'form-control'} %>
              <%= f.input :email, required: true, input_html: { class: 'form-control'} %>
              <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), input_html: { class: 'form-control'} %>
              <%= f.input :password_confirmation, required: true, input_html: { class: 'form-control'} %>
              <%= f.input :user_type, as: :radio_buttons, collection: [
                ['User - An ordindary user who can belong to neighborhoods, create neighborhoods, and participate in neighborhoods as a resident of that neighborhood.', 'user'],
                ['Newser - a special type of user intended for businesses, agencies, and home owners associations. Newsers can deliver information to several neighborhoods that spreads to all subcommunities.', 'newser']
                ] %>
            </div>

          </div>
          <div class="modal-footer">
            <%= f.button :submit, "Sign up", class: 'btn btn-lg btn-primary' %>
            <button class="btn btn-lg btn-default" data-dismiss="modal" type="button">Close</button>
          </div>
          <% end %>
        </div>

      </div>
    </div>

    <div class="modal fade" id="new-group-modal" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content -->
        <div class="modal-content">
          <div class="modal-header">
            <button class="close" data-dismiss="modal" type="button">&times;</button>
            <h4 class="modal-title">New Group</h4>
          </div>
          <div class="modal-body">
          <%= form_tag groups_path, method: :post do %>
            <div class="field">
              <%= label_tag :name %><br>
              <%= text_field_tag :name, '', class: 'form-control' %>
            </div>
            <div class="field">
              <%= label_tag :users %><br>
              <%= text_area_tag :users, '', class: 'form-control', placeholder: 'user1, user2, ...' %>
            </div>
          </div>
          <div class="modal-footer">
            <div class="actions buttons">
              <%= submit_tag 'Create Group', class: 'btn btn-lg btn-primary' %>
            </div>
            <div class="buttons">
              <button class="btn btn-lg btn-default" data-dismiss="modal" type="button">Close</button>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="modal fade" id="new-message-modal" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button aria-hidden="true" class="close" data-dismiss="modal" type="button">&times;</button>
            <h4 class="modal-title">New Message</h4>
          </div>
          <%= form_tag messages_path, method: :post do  %>
          <div class="modal-body">

              <% if @group.nil? %>
                <div class="field">
                  <%= label_tag :to %><br>
                  <%= text_field_tag :to, '', class: 'form-control', id: 'to_field' %>
                </div>
              <% else %>
                <div class="field hidden">
                  <%= text_field_tag :group_id, @group.id %>
                </div>
              <% end %>

              <div  class="field">
                <%= label_tag :subject %><br>
                <%= text_field_tag :head, '', class: 'form-control' %>
              </div>
              <div class="field">
                <%= label_tag :body %><br>
                <%= text_area_tag :text, '', class: 'form-control' %>
              </div>

          </div>
          <div class="modal-footer">
            <%= submit_tag "Send Message", class: "btn btn-primary" %>
            <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
          </div>
          <% end %>
        </div>

      </div>
    </div>
  </body>
</html>
